# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/


# Ignaore the microservices 
bookstore_items_api/
bookstore_oauth_api/
bookstore_users_api/
bookstore_oauth-go/
bookstore_utils-go/
